@import 'scss/index';

$disconnected-color: #ff4f4f;
$connected-color: lighten(#70a800, 10%);

.page {
    display: flex;
    align-items: stretch;
    padding: 20px;
    padding-bottom: 0px;
    flex-grow: 1;
  }
.activityBlock {
    display: flex;
    width: calc(25% - 10px);
    background: #2e3440;
    color: #fff;
    min-height: 500px;
    margin-left: 10px;
    border-bottom: 1px solid #3b4253;
}
.chartBlock {
    display: flex;
    width: calc(50% - 10px);
    background: #2e3440;
    color: #fff;
    margin: 0px 10px;
    border-bottom: 1px solid #3b4253;
}
.positionBlock {
    display: flex;
    flex-direction: column;
    width: calc(25% - 10px);
    margin-right: 10px;
    min-height: 500px;
    .wallet {
        display: flex;
        flex-direction: column;
        padding: 10px 13px;
        height: 220px;
        background: #2e3440;
        border: 1px solid #3b4253;
    }
    .position {
        display: flex;
        flex-direction: column;
        padding: 10px 13px;
        flex-grow: 1;
        margin-top: 20px;
        background: #2e3440;
        border: 1px solid #3b4253;
    }
    .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
            color: #fff;
            font-weight: 400;
            margin: 3px 0px;
        }
    }
}
.positionTooltip {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    width: 50px;
    height: 100%;
    padding: 2px 2px 0px 0px;
  }
.positionTooltip:hover [data-role='tooltip'] {
    display: block;
  }
  .closed {
    width: 10px;
    height: 10px;
    background: #feb733;
    border-radius: 50%;
    margin: 0px;
    box-shadow: 0 0 4px #1c1c17, 0 0 5px #feb733;
    transition: all 0.2s ease;
  }
  .open {
    width: 10px;
    height: 10px;
    background: $connected-color;
    border-radius: 50%;
    margin: 0px;
    box-shadow: 0 0 4px #1c1c17, 0 0 5px $connected-color;
    transition: all 0.2s ease;
  }
.flex {
    width: 100%;
    flex-grow: 1;
}