@import 'scss/index';

.page {
    display: flex;
    align-items: stretch;
    padding: 20px;
    padding-bottom: 0px;
    flex-grow: 1;
  }
.activityBlock {
    display: flex;
    width: calc(25% - 10px);
    background: #2e3440;
    color: #fff;
    min-height: 500px;
    margin-left: 10px;
    border-bottom: 1px solid #3b4253;
}
.chartBlock {
    display: flex;
    width: calc(50% - 10px);
    background: #2e3440;
    color: #fff;
    margin: 0px 10px;
    border-bottom: 1px solid #3b4253;
}
.positionBlock {
    display: flex;
    flex-direction: column;
    width: calc(25% - 10px);
    margin-right: 10px;
    min-height: 500px;
    .wallet {
        display: flex;
        flex-direction: column;
        padding: 10px 13px;
        height: 220px;
        background: #2e3440;
        border-bottom: 1px solid #3b4253;
    }
    .position {
        padding: 10px;
        flex-grow: 1;
        margin-top: 20px;
        background: #2e3440;
        border-bottom: 1px solid #3b4253;
    }
    .info {
        display: flex;
        justify-content: space-between;
        p {
            color: #fff;
            font-weight: 400;
            margin: 3px 0px;
        }
    }
}
.flex {
    width: 100%;
    flex-grow: 1;
}