.privateContainer, .publicContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 1000px;
}
.privateContainer {
    background: lighten(#2e3440, 8%);
}
.privateContent {
  display: flex;
  width: 100%;
  flex-grow: 1;
}
.publicHeader {
    display: flex;
    justify-content: flex-end;
    padding: 20px 10px;
    a, p {
        margin: 0px 20px;
        font-weight: 400;
    }
}
.publicFooter {
    display: flex;
    justify-content: flex-end;
    padding: 20px 10px;
    a, p {
        margin: 0px 20px;
        font-weight: 400;
    }
}
.flex {
    flex-grow: 1;
}
.version {
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  padding: 8px 0px;
  margin: 0px;
}
