@import 'scss/variables';

.loginContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.loginBlock {
  display: flex;
  width: 450px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: $box_shadow;
}
.accountBlock {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  padding: 20px;
}
.accountForm {
  width: 100%;
  flex-grow: 1;
  color: #364059;
  h2 {
    margin: 20px 0px;
  }
  .terms {
    margin-top: 15px;
    font-weight: 400;
  }
  .error {
    color: #d9534f;
    border: 1px solid lighten(#d9534f, 25%);
    background: lighten(#d9534f, 35%);
    padding: 5px;
    font-weight: 400;
  }
}
.flex {
  flex-grow: 1;
}
.loginFooter {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  p {
    margin: 0px 20px;
    font-weight: 400;
  }
}
